@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Raleway';
  background-color: #2d3436;
  padding: 5px 20px;
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.MuiPagination-ul>li>button {
  color: white
}

.MuiPagination-ul>li>div {
  color: white
}

::-webkit-scrollbar {
  width: 0px;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  box-shadow: 6px 6px 6px #1a1c1d;
  margin-top: -280px;
  border-bottom-left-radius: 150px;

}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #5478d2;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
  position: relative;
  z-index: -1
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1240px) {
  .detail-image {
    width: 420px;
    height: 420px;
  }

  .hero-banner-img {
    width: 380px;
    margin-top: -140px
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }


}

@media screen and (max-width:910px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .hero-banner-img {
    display: none;
  }

}


@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}